table,th,td{
    border: 1px solid black;
}

table{
    width: 100%;
    text-align: center;
}

th{
    padding: 10px;
    background-color: yellowgreen;
}

td{
    padding: 10px;
    background-color: paleturquoise;
}